<div class="col-md-10 offset-md-2 footer-part">
    <footer class="footer">
        <div class="container">
            <h1>StartX</h1>
            <p class="text-muted">Place sticky footer content here.</p>
            <ul>
                <li>運営会社</li>
                <li>個人情報保護方針</li>
                <li>利用規約</li>
            </ul>
        </div>
    </footer>
</div>