 <div class="col-md-10 offset-md-2 main-contents">
    <div class="container-fluid">
        <div class="serch-bar">
        <%= search_form_for @search do |f| %>
            <div class="form-group">
            <%= f.text_field :body_cont, class: "form-control",:placeholder => "内容、タイトル" %>
            </div>
        <% end %>
        </div>
    </div>
  </div>